ul.lorem-list{
    list-style-type:'🍏';
    list-style-position: inside;
     /* biraz içirden başlatıyor maddeleri. */
     line-height: 3rem;
     /* liste satırları arasında ki uzaklığı artırır. */
}